resource_group_name = ""
resource_tags       = { "environment" = "dev" }
service_plan_id   = ""
fn_name_prefix      = ""

vnet_subnet_id                      = ""
storgae_account_resource_group_name = ""
storage_account_name                = ""

fn_app_config = {
  "" = {
    image = "",
    zip   = "",
    hash  = "",
  }
}
